body{
	background-color: #baddff;
	font-family: 'Open Sans', sans-serif;
}

.navbar ul li{
	display: inline-block;
	margin: 0px;
	margin-top: 8px;
	padding: 0px 25px;
	font-size: 21px;
}

.navbar ul{
	padding: 0px;
	margin: 0px;
}

.navbar a{
	color: #326da8;
	text-decoration: none;
}
.navbar a:hover{
    color: #25517d;
 }

.list-left {
    float:left;
}

.list-right {
    float:right;
    margin: 0px;
}